/**
 * Global
 */
body {
  background-color: #0f283e;
}

h1 {
  text-align: center;
}

h3 {
  margin: 0px;
}

/**
 * Layout
 */
div.row {
}

div.container {
  width: 100%;
}

div.column {
  float: left;
}

div.column.full {
  width: 100%;
}

div.column.half {
  width: 50%;
}

div.column.third {
  width: 33.33%;
}

div.column.two-thirds {
  width: 66.66%;
}

div.column.quarter {
  width: 25%;
}

div.column.three-fourths {
  width: 75%;
}

/**
 * Rule Input
 */
div.rule-input {
  margin: 20px
}

div.rule-input table {
  margin-left: auto; 
  margin-right: auto; 
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

div.rule-input td {
  font-weight: initial;
}

div.rule-input td.bit-button {
  border: 1px solid black;
  padding: 4px;
  margin: 0px;
  text-align: center;
  color: black;
  background-color: #dbf9f6;
}

div.rule-input td.bit-button.selected {
  border: 1px solid #029aaa;
  background-color: #0d6386;
  color: white;
}

div.rule-input td.bit-button:hover {
  cursor: pointer;
  background-color: slategrey;
}

/**
 * Terrarium
 */
div.terrarium canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/**
 * UMAP Selection
 */
div.umap-select {
  position: relative;
  padding: 1px;
}
